body {
    background-color: #2d383a;
}

#calc {
    border-color: blue;
    background-color: black;
    margin-top: 20px;
    color: white;
}

#selectPlanet {
    border-color: blue;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

#inputWeight {
    border-color: blue;
    background-color: black;
    color: white;
}
